
.button-question {
    color: blue;
    width: 5%;
    border: 1px solid #777676;
    border-radius: 0px 3px;
    transition: background-color 300ms;
}

.button-question:active {
    color: rgb(240, 142, 50);
    transform: scale( 1.1, 1.1);
}

@media ( max-width: 589px ){
    .button-question {
        width: 10%;
    }
}