
.container-products {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-table {
    width: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.th-photo, 
.td-photo-container {
    width: 5%;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th-product,
.td-product-container {
    width: 29%;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th-amount,
.td-amount-container,
.th-price,
.td-price-container {
    width: 22%;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
.th-total {
    width: 22%;
    border: none;
    border-bottom: 1px solid gray;
}
.td-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    border-bottom: 1px solid gray;
}


.buttons {
    font-size: 2rem;
    cursor: pointer;
}
.buttons:active {
    transform: scale( 1.2, 1.2);
}

.button-edit {
    width: 10%;
    
}

.add {
    color: blue;
}

.cancel {
    color: rgb(150, 3, 3);
}

.edit {
    font-size: 1.5rem;
    color: rgb(64, 112, 64);
    
}

.photo-img {
    width: 100%;
    height: 35px;
    object-fit: cover;
    object-position: center;  
}
.input-product-name{
    width: 95%;
}
.product-amount-input,
.product-price-input{
    width: 95%;
}

.label-file {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35px;
    font-family: 'icon-font2';
    cursor: pointer;
}
.div-img-other {
    display: flex;
    width: 100%;
    height: 100%;
}
.img-temporary-url{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.div-letter-other {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  
    overflow: hidden;
}
.camera {
    font-size: 2.2rem;
    color: rgb(73, 108, 226);
}

.input-file {
    display: none;
}

.td-total-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 2.4rem;
    width: 98%;
    border-bottom: 1px solid gray;
    
}
.resul-product {
    width: 90%;
}


.crossed-out {
    text-decoration: line-through red 2px solid;
    cursor: pointer;
}
.not-crossed-out {
    cursor: pointer;
}


.row-total-value {
    display: flex;
    width: 99.8%;
    height: 2rem;
    justify-content: end;
    align-items: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;

    
}

.total-value{
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 20px;
    color: red;
    text-shadow: 2px 1px 3px black;
}

@media ( max-width: 843px ){

    .product-amount-input,
    .product-price-input{
        width: 90%;
    }

    .edit {
        margin-right: 1rem;
   
    }
}


@media ( max-width: 672px ){

    .camera {
        font-size: 1.8rem;
    }
    
    .product-amount-input,
    .product-price-input{
        width: 85%;
    }

    .input-product-name {
        width: 85%;
        font-size: 0.8rem;
    }
}

@media ( max-width: 589px ){

    .product-amount-input,
    .product-price-input{
        width: 85%;
    }
}